* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.login-btn {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  display: block;
  color: #f6f6f6;
  background-color: #003b95;
  border: none;
  padding: 10px 30px;
  text-align: center;
  margin-right: 30px;
  font-size: 16px;
}

.form-wrapp {
  font: "Helvetica Neue";
  background-color: #003b95;
  border: none;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 500px;
  padding: 30px;
  border-radius: 3px;
  background-color: #f6f6f6;
}

.login-label {
  display: block;
  font-size: 16px;
  padding-bottom: 15px;
}

.login-input {
  background-color: #f6f6f6;
  border: none;
  border-bottom: solid 2px #878787;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.login-input:focus {
  outline: none;
  border-bottom: solid 2px #003b95;
}

.login-img {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.login-btn-check {
  display: flex;
  align-items: center;
}
